<div>

<div class="about" style="padding-top:10vh">


<p><b>MEASUREMENTS</b></p>

<p>Height: 5'9"
<br> Bust:
<br> Waist:
<br> Hips:
<br>Shoes:
<br>Hair: Black
<br>Eyes:
</p>
<p><br></p>


<p><b>FREELANCE AND AGENCY MODEL</b></p>
<p>@STRUTT MODELS @MAX AGENCY
<br>
</p>

<p><b>FASHION &loz;	BEAUTY &loz; RUNWAY</b></p>


</div>
