<html>
  <head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  <link href="https://fonts.googleapis.com/css?family=Amaranth:700|Open+Sans:600" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/<%= pageMain %>.css"/>
  <link rel="stylesheet" type="text/css" href="css/footer.css"/>
  <link rel="stylesheet" type="text/css" href="css/topnav.css"/>
  </head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

<body>
