

@media only screen and (orientation: portrait) {
.test {
width: 100vw;
height: 60vh;
top: 12vh;}

.test-img {
max-height: 100%;
max-width: 100%;
opacity: 0;
animation-name: slowload;
animation-duration: 0.5s;
animation-delay: 1.2s;
animation-fill-mode: forwards;
}
@keyframes slowload {
  from {opacity: 0}
  to {opacity: 1}
}

.slick-slide {
height: 60vh;
margin: 0 1vw;}
}


@media only screen and (orientation: landscape) {
.test {
height: 60vh;
width: 99vw;
top: 15vh;}

.test-img {
height: 100%;
opacity: 0;
animation-name: slowload;
animation-duration: 0.5s;
animation-delay: 1.2s;
animation-fill-mode: forwards;}


@keyframes slowload {
  from {opacity: 0}
  to {opacity: 1}
}



.slick-slide {
height: 60vh;
margin: 0 0.4vw;}


}

.slick-slide{
  outline: none !important;
}

.spinner {
background: url("../gif/spinner.gif") no-repeat center transparent;
background-size: 2vh;
}
